<div class="headerContainer">
  <div class="headerNavigate">
    <div class="emptyBlockTop">
      <form [formGroup]="form" *ngIf="user.age" class="userForm">
        <div><input type="text" formControlName="query">
          <button (click)="search()" class="logOut button"> search</button>
        </div>
      </form>
    </div>
    <div class="linksTop">
      <a routerLink="movies" routerLinkActive="active" *ngIf="user.age">Movies</a>
    </div>
    <div class="userTop">
      <a routerLink="userInfo" routerLinkActive="active">
        <span *ngIf="!user.age">Register</span>
        <span *ngIf="user.age">
          {{user.name}}
          <button class="logOut button" (click)="logOut()">Out</button>
        </span>
      </a>
    </div>
  </div>
</div>
