.genreMoviesBlocksFlex {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
}

.totalPages {
  text-align: end;
}

.moviesPage {
  text-align: center;
}

.navigate {
  cursor: pointer;
}

.page {
  font-weight: bold;
}
